<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Modify Workout{% endblock %}

{% block content %}
    <header class="site-header">
        <h1>Modify Workout</h1>
    </header>
    <div class="container">
        <form method="post" action="{{ url_for('add_to_existing_workout') }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <ul class="list-group">
                {% for exercise in exercises %}
                    <li class="list-group-item">
                        <label>
                            <input type="checkbox" name="selected_exercises[]" value = "{{ exercise[0] }}"
                                   {% if exercise[0] in workout_exercise_ids %} checked {% endif %}>
                            {{ exercise[1] }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Save Modifications</button>
            </div>
        </form>
    </div>
{% endblock %}
