<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Completed workouts{% endblock %}

{% block content %}
    <header class="site-header">
        <h1>Completed workouts</h1>
    </header>
    <div class="container">
        <ul>
            {% for workout in completed_workouts %}
                <li><a href="{{ url_for('view_completed_workouts', workout_id=workout[0]) }}">{{ workout[3] }}</a></li>
            {% endfor %}
        </ul>
        <div class="container mt-4">
            <a href="{{ url_for('profile') }}" class="btn btn-primary">Back to Profile</a>
        </div>
    </div>
{% endblock %}