<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Create workout{% endblock %}

{% block content %}
    <header class="site-header">
        <h1>Create workout</h1>
    </header>
    <div class="container mt-4">
        <form action="{{ url_for('add_sets_page') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="mb-3">
                <label for="workout-name" class="form-label">Workout Name:</label>
                <input type="text" class="form-control" id="workout-name" name="workout_name">
            </div>
            <div class="container mt-4">
                {% for workout_exercise_id, exercise_name in workout_exercises %}
                    <div class="mb-3">
                        <label for="sets_number_{{ workout_exercise_id }}" class="form-label">Number of Sets for {{ exercise_name }}</label>
                        <input type="number" class="form-control" id="sets_number_{{ workout_exercise_id }}" name="sets_number_{{ workout_exercise_id }}" min="1">
                    </div>
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Continue</button>
                <a href="{{ url_for('delete_workout', workout_id=user_workout_id) }}" class="btn btn-secondary">Cancel</a>
            </div>
            {% if error_message %}
                <div class="alert alert-danger mt-3">
                    {{ error_message }}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
