<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome - Login{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <style type="text/css"></style>
</head>
<body>
    <div class="flashes">
    </div>
    <header>
        <h1>Workout Planner</h1>
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/exercises">Exercises</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
